* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-decoration: none;
    background-color:rgba(163, 157, 142);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
     background: rgba(163, 157, 142);
     position: fixed;
}

.navbar {
    display: flex;
    margin-left: 500px;
    margin-bottom: 120px;
    margin-top: 0px;
}

.navbar a {
    font-size: 25px;
    color: white;
    font-weight: 550;
    border-bottom: 2px solid transparent;
    margin: 0 20px;
    padding: 0 10px;
    transition: 0.3s ease;
    margin-left: 2%;
}

.navbar a:hover,
.navbar a.active {
    color: rgba(245, 245, 220);
    border-bottom: 3px solid  rgba(245, 245, 220);
}

.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-left: 150px;
}

.card {
    background: rgba(163, 157, 142);
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
}

.card-icon{
    font-size: 28px;
    background: rgba(188, 158, 130);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon{
    background: rgba(163, 157, 142);
    color: white;
    transform: scale(1.6);
}

.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
    font-size: 10px;
}

.card:hover p{
    max-height: 20px;
    opacity: 1;
}

