* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-decoration: none;
    background-color:rgba(163, 157, 142);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
     background: rgba(163, 157, 142);
     position: fixed;
}

.navbar {
    display: flex;
    margin-left: 500px;
    margin-bottom: 120px;
    margin-top: 0px;
}

.navbar a {
    font-size: 25px;
    color: white;
    font-weight: 550;
    border-bottom: 2px solid transparent;
    margin: 0 20px;
    padding: 0 10px;
    transition: 0.3s ease;
    margin-left: 2%;
}

.navbar a:hover,
.navbar a.active {
    color: rgba(245, 245, 220);
    border-bottom: 3px solid  rgba(245, 245, 220);
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 250px;            
    text-align: center;      
    width: 60%;              
    margin-top: 0px;              
    margin-left: 350px;
    postion: fix;
}

img {
    max-width: 350px;
    border-radius: 1000px;
    position: fix;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 10px;
    opacity: 0; 
    animation: slideInFromLeft 2s 0.5s forwards; 
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.text h2 {
    font-size: 80px;
    padding: 20px;
    margin-top: 0;
    overflow: hidden; 
    border-right: 0.1em solid white; 
    white-space: nowrap; 
}

.text p {
    font-size: 30px;
}
